<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="shortcut icon" href="favicon.png" type="image/x-icon"/>
    <!--引入CSS库-->
    <div th:include="model/importCss :: importCss"></div>
</head>
<body>
    <div class="container well" id="file_form">
        <div class="form-group">
            <input type="file" class="form-control" id="file_input" enctype='multipart/form-data' name="file" >
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-info btn-block" id="up_btn">上传</button>
        </div>
    </div>

    <form class="container well" action="/upFile" method="post" enctype="multipart/form-data">
        <input type="file" name="file" id="servlet_file" />
        <button type="submit" class="btn btn-success">上传</button>
    </form>

    <div class="container" id="append_div">
        <input type="text" name="mark_file" id="mark_file" value="/Users/Blackdogman/Desktop/markdown.md">
        <button class="btn btn-success" id="append_btn">解析MarkDown！</button>
        <div id="markdownContent"></div>
    </div>
</body>
<!--引入js库-->
<div th:include="model/importJs :: importJs"></div>
<script>
    // 点击把markdown解析成html并放入页面
    $("#append_btn").on("click", function () {
        var file = $("#mark_file").val();
        $.ajax({
            url: "/getHTMLFromMD",
            type: "POST",
            data: {
                file: file
            },
            success: function (req) {
                $("#append_div #markdownContent").empty();
                $("#append_div #markdownContent").append($(req));
                $("#append_div #markdownContent pre").addClass("prettyprint");
                $("#append_div #markdownContent pre").css({"border":"none"});
                prettyPrint();
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log("jqXHR:" + jqXHR.statusText + "\ntextStatus:" + textStatus + "\nerrorThrown:" + errorThrown);
            }
        })
    });


    $("#up_btn").on("click",function () {
        alert("执行了?");
        $.ajax({
            url: "/upFile",
            data: {
                file: new FormData($("#file_input").val())
            },
            type: "POST",
            success: function (req) {

            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log("jqXHR:" + jqXHR.statusText + "\ntextStatus:" + textStatus + "\nerrorThrown:" + errorThrown);
            }
        });
    });
</script>
</html>