<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Playground</title>
    <link rel="shortcut icon" href="favicon.png" type="image/x-icon"/>
    <!--引入CSS库-->
    <div th:replace="model/importCss :: importCss"></div>
</head>
<body>
<div th:replace="model/header :: header"></div>

<div class="container" id="content" style="padding-top:75px;">
    <div class="col-md-3 col-sm-4 col-xs-12">
        <div class="container-fluid">
            <div id="uploadBtn" name="MarkDown组件" class="btn btn-success btn-block">收起MarkDown组件</div>
        </div>
    </div>
    <div class="col-md-9 col-sm-8 col-xs-12">
        <div id="uploadDiv">
            <form class="well" enctype="multipart/form-data" id="file_form">
                <div class="form-group">
                    <input type="file" id="file_input" name="file">
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-info" id="up_btn">上传MarkDown!!</button>
                </div>
            </form>

            <form class="well" id="append_div" enctype="multipart/form-data" target="hideFrame">
                <div class="form-group">
                    <input type="file" name="file" id="mark_file">
                </div>
                <div class="form-group">
                    <button class="btn btn-success" id="append_btn">解析MarkDown！</button>
                </div>
            </form>
            <iframe name="hideFrame" style="display: none;"></iframe>
            <div id="markdownContent"></div>
        </div>
    </div>
</div>
<div th:replace="model/footer :: footer"></div>
</body>
<!--引入js库-->
<div th:replace="model/importJs :: importJs"></div>
<script>
    // 点击把markdown解析成html并放入页面
    //append_div
    $("#append_btn").on("click", function () {
        var formData = new FormData($("#append_div")[0]);
        $.ajax({
            url: "/getHTMLFromMD",
            type: "POST",
            data: formData,
            cache: false,
            contentType: false,
            processData: false,
            success: function (req) {
                $("#markdownContent").empty();
                $("#markdownContent").append($(req));
                $("#markdownContent pre").addClass("prettyprint");
                $("#markdownContent pre").css({"border": "none"});
                prettyPrint();
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log("jqXHR:" + jqXHR.statusText + "\ntextStatus:" + textStatus + "\nerrorThrown:" + errorThrown);
            }
        })
    });

    //file_form
    $("#up_btn").on("click", function () {
        var formData = new FormData($("#file_form")[0]);
        $.ajax({
            url: "/uploadMarkDown",
            data: formData,
            type: "POST",
            cache: false,
            contentType: false,
            processData: false,
            success: function (req) {
                console.log(req);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log("jqXHR:" + jqXHR.statusText + "\ntextStatus:" + textStatus + "\nerrorThrown:" + errorThrown);
            }
        });
    });

    $("#uploadBtn").on("click", function () {
        var text = $("#uploadBtn").attr("name");
        if($("#uploadDiv").is(":visible")){
            $("#uploadBtn").text("显示" + text);
        }else {
            $("#uploadBtn").text("隐藏" + text);
        }
        $("#uploadDiv").toggle(500);
    });


</script>
</html>