<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Playground</title>
    <link rel="shortcut icon" href="favicon.png" type="image/x-icon"/>
    <!--引入CSS库-->
    <div th:replace="model/importCss :: importCss"></div>
</head>
<body>
<div th:replace="model/header :: header"></div>

<div class="container" id="content_body">
    <div class="col-md-3 col-sm-4 col-xs-12">
        <div class="container-fluid">
            <div id="uploadBtn" name="MarkDown组件" class="btn btn-success btn-block">隐藏MarkDown组件</div>
            <div id="mediaBtn" name="Media组件" class="btn btn-success btn-block">显示Media组件组件</div>
        </div>
    </div>
    <div class="col-md-9 col-sm-8 col-xs-12">
        <div id="uploadDiv">
            <form id="append_div" class="well"  enctype="multipart/form-data" target="hideFrame">
                <div class="form-group">
                    <input type="file" name="file" id="mark_file">
                </div>
                <div class="form-group">
                    <button class="btn btn-success" id="append_btn">解析MarkDown！</button>
                </div>
            </form>
            <iframe name="hideFrame" style="display: none;"></iframe>
            <div id="markdownContent"></div>
        </div>

        <div class="col-md-12" id="mediaDiv">
            <video id="mediaDiv_video" src="https://www.apple.com/105/media/us/macbook/2015/98474cad-63d2-443a-9125-a1a80bc150dc/tour/design/macbook-design-cc-us-20150309_1280x720h.mp4" width="100%" height="100%" controls="controls">
                Your browser does not support the video tag.
            </video>
        </div>
    </div>
</div>
<div th:replace="model/footer :: footer"></div>
</body>
<!--引入js库-->
<div th:replace="model/importJs :: importJs"></div>
<script>
    $("#mediaDiv").hide();

    // 点击把markdown解析成html并放入页面
    //append_div
    $("#append_btn").on("click", function () {
        var format = $("#mark_file").val();
        format = format.substring(format.length-3, format.length);
        if(format !== ".md"){
            alert("您选择的文件不是markdown文件(.md)");
        }else {
            var formData = new FormData($("#append_div")[0]);
            $.ajax({
                url: "/getHTMLFromMD",
                type: "POST",
                data: formData,
                cache: false,
                contentType: false,
                processData: false,
                success: function (req) {
                    $("#markdownContent").empty();
                    $("#markdownContent").append($(req));
                    $("#markdownContent pre").addClass("prettyprint");
                    $("#markdownContent pre").css({"border": "none"});
                    prettyPrint();
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log("jqXHR:" + jqXHR.statusText + "\ntextStatus:" + textStatus + "\nerrorThrown:" + errorThrown);
                }
            });
        }
    });


    /**
     * 暂时针对的是markdown模块的按钮，后期期望能做成一个通用的方法
     */
    $("#uploadBtn").on("click", function () {
        var text = $("#uploadBtn").attr("name");
        if($("#uploadDiv").is(":visible")){
            $("#uploadBtn").text("显示" + text);
        }else {
            $("#uploadBtn").text("隐藏" + text);
        }
        $("#uploadDiv").toggle(500);
    });

    $("#mediaBtn").on("click", function () {
        var text = $("#mediaBtn").attr("name");
        if($("#mediaDiv").is(":visible")){
            $("#mediaBtn").text("显示" + text);
            var video = document.getElementById("mediaDiv_video");
            video.pause();
        }else {
            $("#mediaBtn").text("隐藏" + text);
        }
        $("#mediaDiv").toggle(500);
    });


</script>
</html>