html {
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    background-color: #fafafa;
    color: #444444;
    min-height: 100%;
    position: relative;
}

#top {
    background-color: #449e3a;
    height: 50px;
}

#logo {
    height: 36px;
    width: 175px;
    display: block;
    margin-top: 5px;
    margin-left: 15px;
}

#logo img {
    height: 36px;
    width: 175px;
}

#top-right {
    height: 100%;
}

#top-right ul {
    height: 100%;
    float: right;
    list-style: none;
}

#top-right li {
    height: 100%;
    display: block;
    float: left;
}

#top-right a {
    color: #ffffff;
    height: 100%;
    font-size: 18px;
    display: block;
    padding: 0 15px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
}

#top-right a:hover {
    background-color: #8cd07f;
    color: #44444d;
    border-radius: 0;
}

#content {
    padding-top: 50px;
    padding-bottom: 100px;
}

#footer {
    width: 100%;
    text-align: right;
    position: absolute;
    bottom: 0;
}


