<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Welcome to OrangePeels</title>
    <link rel="shortcut icon" href="/img/QRcode.png" type="image/x-icon" />
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/homePage.css" />
    <script src="/bootstrap/js/jquery-3.3.1.min.js"></script>
    <script src="/bootstrap/js/bootstrap.js"></script>
</head>
<body>
<div class="container">
    <img src="/img/L/LargeWOsubtitle.png" alt="橘子皮" width="450px" height="93px" />
    <div class="content">
        <h1>欢迎来到OrangePeels!</h1>
        <p>这是一个船新的感觉</p>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <h3>第一点</h3>
            <p>橘子皮工作室将是引领未来10年游戏业界的公司</p>
        </div>
        <div class="col-sm-4">
            <h3>第二点</h3>
            <p>拳打暴雪，脚踢育碧</p>
        </div>
        <div class="col-sm-4">
            <h3>第三点</h3>
            <p>脚下踩EA，背后躺腾讯</p>
        </div>
    </div>
</div>
</body>
</html>