<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Welcome to OrangePeels</title>
    <link rel="shortcut icon" href="favicon.png" type="image/x-icon"/>
    <!--引入CSS库-->
    <div th:replace="model/importCss :: importCss"></div>
</head>
<body>
<div th:replace="model/header :: header"></div>

<div id="content">
    <div class="bdm-faDiv">
        <div class="container">
            <div class="col-md-12 hidden-xs">
                <pre class="prettyprint" style="border: none; background: none;">
                    <code class="language-java">
                    /**
                    * 欢迎来到OrangePeels
                    * @author Blackdogman.
                    */
                    Public void hello() {
                        System.out.println("Hello OrangePeels");
                    }
                    </code>
                </pre>
            </div>
            <div class="col-xs-12 visible-xs text-center" style="padding:25px; font-size: 30px; margin:0 auto;">
                { Hello OrangePeels }
            </div>
        </div>
    </div>
    <div class="container">
        <blockquote>
            <p>
                OrangePeels的0.1.0终于是上线了，我们会在这里展示出各种学习相关的资料文献，希望给你带来美好的一天
            </p>
            <small>From code man <cite>blackdogmanchy@gmail.com</cite></small>
        </blockquote>
    </div>
</div>
<div th:replace="model/footer :: footer"></div>
</body>
    <!--引入js库-->
    <div th:replace="model/importJs :: importJs"></div>
</html>