<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Playground</title>
    <link rel="shortcut icon" href="favicon.png" type="image/x-icon"/>
    <!--引入CSS库-->
    <div th:replace="model/importCss :: importCss"></div>
</head>
<body>
<div th:replace="model/header :: header"></div>

<div class="container" id="content_body">
    <ul class="list-group">
        <li><a href="/gameStation/valCodeGame">验证码游戏------>Go</a></li>
    </ul>
</div>
<div th:replace="model/footer :: footer"></div>
</body>
<!--引入js库-->
<div th:replace="model/importJs :: importJs"></div>

</html>