<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<!-- components/header.html -->
<header th:fragment="headerimport">
    <link rel="shortcut icon" href="img/S/orangepeelsSmallLogo.png" type="image/x-icon">
    <link rel="stylesheet" href="tools/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="css/base/orangepeels.css"/>
    <link rel="stylesheet" href="tools/prettify/prettify.min.css">
    <script src="tools/jquery-3.3.1.min.js"></script>
    <script src="tools/bootstrap/js/bootstrap.js"></script>
    <script src="tools/prettify/prettify.min.js"></script>
    <script src="js/base/orangepeels.js"></script>
</header>