<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<nav th:fragment="header" class="navbar-fixed-top" id="top">
    <div class="container">
        <div class="col-sm-4 hidden-xs">
            <a id="logo" href="/"><img src="/img/L/orangepeelsLogo.png" alt="logo"/></a>
        </div>
        <div class="col-sm-8 hidden-xs bdm-top-right">
            <ul>
                <li><a href="/playground">Playground</a></li>
                <li><a href="https://github.com/Blackdogman/orangepeels.net.git">Github</a></li>
                <li><a href="/blog/blogUi.do">Notes</a></li>
                <li><a href="http://blackdogman.github.io/">Blog</a></li>
                <li><a href="#">Creator</a></li>
            </ul>
        </div>
        <div class="col-xs-12 visible-xs bdm-top-right2">
            <ul id="bdm-top-right2-ul" class="pull-right">
                <li class="bdm-top-right2-li col-xs-5"><a href="/" id="sLogo"><img src="/img/S/orangepeelsSmallLogo.png"
                                                                                   width="30px;" height="30px;" alt=""></a>
                </li>
                <li class="bdm-top-right2-li dropdown col-xs-7">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-align-justify"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/playground">Playground</a></li>
                        <li><a href="https://github.com/Blackdogman/orangepeels.net.git">Github</a></li>
                        <li><a href="/blog/blogUi.do">Notes</a></li>
                        <li><a href="http://blackdogman.github.io/">Blog</a></li>
                        <li><a href="#">Creator</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>